
/* Fonts */
@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/Open Sans Condensed.ttf");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}


/*Header*/
.header {
  padding-top: 45px;
  padding-bottom: 65px;
  background-color: #dcdcdc;
}

.container {
  width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.logo {
  width: 275px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 22px;
}

.contacts {
  margin-left: auto;
}

.phones {
  font-family: "Open Sans Condensed Light", sans-serif;
  font-size: 40px;
}

.phone {
  display: block;
  text-decoration: none;
  color: #767676;
  font-family: 'Open Sans Condensed', sans-serif;
}

.feed {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.feedback-link {
  text-decoration: none;
  color: #767676;
  margin-left: auto;
  font-weight: bold;
  border-bottom: 2px dashed #767676;
}

/*menu*/

.menu {
  font-size: 30px;
  padding-top: 26px;
  padding-bottom: 30px;
  background-color: #777777;
  margin-right: auto;
  margin-left: auto;
}

.menu-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.menu-item:nth-child(n+1) {
  margin-right: 23px;
  border-right: 2px solid #ffffff;
  padding-right: 23px;
}

.menu-item:last-child {
  margin-right: 0;
  border: none;
  padding-right: 0;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}

.menu-item:hover {
  text-decoration: underline;
  cursor: pointer;
}


/*Slider*/


.slider {
  height: 400px;
  position: relative;
}

.slider-item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}


.slider-item-1 {
  background-image: url("images/slide1.jpg");
  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.slider-item-2 {
  background-image: url("images/slide2.jpg");
  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.slider-item-show {
  opacity: 1;
  z-index: 2;
}

.sliders {
  width: 980px;
  height: 60px;
  position: absolute;
  top: 50%;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
}

.slider-control {
  width: 33px;
  height: 60px;
  background-color: #d1d1d1;
  border: none;
  outline: none;
  cursor: pointer;
}
.slider-prev {
  background-image: url("images/arrows.png");
  background-position: left;
}
.slider-next {
  margin-left: auto;
  background-image: url("images/arrows.png");
  background-position: right;
}


/*main*/

.main {
  width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bread-crumb {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 27px;
  height: 15px;
}

.bread-crumb-inner {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}


.bread-crumb-item:nth-child(n+1) {
  margin-right: 10px;
  border-bottom: 1px solid #9b9b9b;
}

.bread-crumb-item:nth-child(n+1)::after {
  content: "/";
  padding-left: 5px;
}

.bread-crumb-item:last-child {
  margin-right: 0;
  border-bottom: none;
}

.bread-crumb-item:last-child::after {
  content: "";
}

.bread-crumb a {
  text-decoration: none;
  color: #9b9b9b;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 200px;
}

.leftblock {  
  width: 185px;
  margin-right: 15px;
}


.content-menu {
  font-size: 14px;
  line-height: 22px;
}

.content-menu a {
  text-decoration: none;
  color: #9b9b9b;
}

.content-menu-list {
  margin-top: 0;
}

.content-menu-item {
  list-style-type: none;
}

.content-item {
  list-style-type: disc;
}

.content-menu-item:nth-child(n+1) {
  margin-bottom: 14px;
}

.content-menu-item:last-child {
  margin-bottom: 0;
}

.content-link {
  text-decoration: underline;
}
 

.content-menu-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.price-list {
  text-align: center;
  font-size: 30px;
  line-height: 25px;
  color: #000000;
  font-weight: bold;
  margin-top: 110px;
}

.price-download {
  width: 95px;
  height: 95px;
  display: block;
  margin: auto;
  background-image: url("images/excel.png");
}

.text {
  display: block;
  margin-top: 20px;
}

.centerblock {
  width: 780px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.content-card {
  display: inline-block;
  width: 200px;
  height: 380px;
  background-color: #dcdcdc;
  padding: 20px;
  padding-right: 30px;
}

.content-card:nth-child(n+1) {
  margin-right: 10px;
  margin-bottom: 20px;
}

.content-card:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.content-card:nth-child(3) {
  margin-right: 0;
  margin-bottom: 0;
}

.card-figure {
  width:210px ;
  height: 310px;
  margin: 0px;
}

.card-caption {
  font-size: 18px;
  line-height: 18px;
  margin-top: 15px;
  color: #848484;
}

.card-price {
  height: 30px;
  line-height: 18px;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  margin: 0;
  position: relative;
}

.cart {
  width: 28px;
  height: 100%;
  display: inline-block;
  float: right;
  background-image: url("images/cart.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
}

.number {
  text-align: center;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.page-number {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #b6b6b6;
}

.page-number:nth-child(n+1) {
  margin-right: 20px;
}

.page-number:last-child {
  margin-right: 20px;
}

.page-number:focus {
  font-size: 18px;
  font-weight: bold;
}

.company {
  width: 980px;
  font-size: 14px;
  line-height: 22px;
  color: #7f7f7f;
  display: flex;
  display: wrap;
  border-top: 1px solid #777777;
  padding-top: 30px;
  margin-top: 65px;
}

.company-left {
  width: 346px;
  margin-right: 20px;
}

.company-right {
  width: 370px;
  margin-left: 20px;
}
/*
footer*/


.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #767676;
}

.footer-container {
  width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.copyright-email {
  font-size: 14px;
  line-height: 22px;
}

.copyright {
  color: #ffffff;
  margin: 0;
}

.email {
  text-decoration: none;
  color: #ffffff;
}
.footer-menu {
  margin-right: auto;
  margin-left: auto;
}

.footer-menu-list {
  list-style-type: none;
  margin: 0;
  font-size: 14px;
}


.footer-menu a {
  text-decoration: 2px underline;
  color: #ffffff;
}

.logo-img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  width: 215px;
  display: flex;
}

.logo-text {
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.logo-text a {
  text-decoration: underline;
  color: #ffffff;
}

.logo-text p {
  margin: 0;
}


/*form*/


.page {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.page-active {
  display: flex;
}

.form {
  width: 400px;
  padding: 50px;
  border: 1px solid #cbd1d4;
  background-color: #ffffff;
  position: relative;
}

.button-close {
  position: absolute;
  width: 27px;
  height: 27px;
  background-color: #777777;
  border: none;
  background-image: url('images/close.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  top: -1.5%;
  right: -5.5%;
}

.page-msg {
  display: block;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
}

.form-group:nth-child(n+2) {
  margin-top: 25px;
}

.form-actions {
  text-align: center;
}

.field-label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: center;
}

.field {
  box-sizing: border-box;
  display: block;
  width: 340px;
  border: 2px solid #dadada;
  margin: auto;
  
  font-size: 13px;
  padding: 10px 20px;
  height: 50px;
  background-color: #ffffff;
}

.button {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 17px;
  border: none;
  cursor: pointer;

}

.button-submit {
  color: #ffffff;
  background-color: #777777;
}

.field:focus, .button:focus {
  border-color: #ff8383;
  box-shadow: inset 0 0 25px #ff8383;
  position: relative;
}

.button:hover {
  background-color: #ff8383;
}

.textarea {
  min-width: 340px;
  max-width: 340px;
  min-height: 140px;
  max-height: 250px;
}
